<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <Pattern>%d [%thread] %-5level %logger - %msg%n</Pattern>
    </encoder>
  </appender>


  <logger name="com.ning.http.client.providers.netty.channel.pool.DefaultChannelPool" level="error"/>
  <logger name="com.ning.http.client.providers.netty.handler.Processor" level="error"/>
  <logger name="com.ning.http.client.providers.netty.request.NettyRequestSender" level="error"/>
  <logger name="org.mdedetrich.stripe" level="info"/>

  <root level="info">
    <appender-ref ref="consoleAppender" />
  </root>
</configuration>
